<div style="text-align: center; margin: 30px 0">
  <img src="https://github.com/Rocketseat/bootcamp-gostack-desafio-03/blob/master/.github/logo.png?raw=true" alt="Gympoint">
</div>

<p>Olá, {{student}}</p>

<p>Agradecemos sua participação e esperamos te auxiliar em qualquer dúvida.</p>
<strong>Pergunta: </strong> {{question}} <br>
<strong>Resposta: </strong> {{answer}} <br>
<br>

<p>Att.</p>

